.cart-user{
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 15px 0 0;
}

.user-avatar img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    overflow: hidden;
    margin: 16px 10px;
}

.half-circle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: rgb(28, 182, 253);
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.user-name-prefix{
    font-style: normal;
    font-weight: 700;
    color: rgb(122, 122, 140);
}