.mostrador {
    margin-top: 15px;
    border-radius: 4px;
    border: solid 4px rgba(255, 255, 255, 0.26);
}

.allList {
    padding: 5px;
    height: 250px;
    overflow-y: auto;
}

.allList li {
    pointer-events: none;
    list-style: none;
    height: 25px;
    line-height: 25px;
    position: relative;
    background: linear-gradient(45deg, #ffffff 0%, #ffffff00 100%);
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.allList::-webkit-scrollbar {
    display: none;
}