.inputField button {
    justify-content: center;
    justify-items: center;
    width: 50px;
    height: 45px;
    border: none;
    outline: none;
    font-size: 25px;
    background: none;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
    transition: 0.5s;
}

.inputField button:hover {
    font-size: 40px;
    transform: rotate(180deg);
    color: rgb(57, 245, 82);
}

.service-form_buttons button {
    border: none;
    outline: none;
    background: var(--clr);
    font-size: 25px;
    cursor: pointer;
    border-radius: 2px;
    padding: 6px 10px;
    transition: 0.5s;
}

.service-form_buttons button:hover {
    font-size: 40px;
    color: rgb(57, 245, 82);
}