.inputField button{
    justify-content: center;
    justify-items: center;
    width: 50px;
    height: 45px;
    border: none;
    outline: none;
    font-size: 25px;
    background: none;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
    transition: 0.5s;
}

.inputField button:hover{
 font-size: 40px;
 transform: rotate(180deg);
 color: rgb(57, 245, 82);
}

.footer button{
    border: none;
    outline: none;
    background: var(--clr);
    font-size: 25px;
    cursor: pointer;
    border-radius: 2px;
    padding: 6px 10px;
    transition: 0.5s;
}

.footer button:hover{
    font-size: 40px;
    transform: escale(2);
    color: rgb(57, 245, 82);
}

.footer .deleteAll{
    opacity: 0.6;
    pointer-events: none;
}

.footer .deleteAll.active{
    opacity: 1;
    pointer-events: auto;
}
