.nav-bar {
    margin-top: -10%;
    list-style: none;
    width: 60%;
    height: 45px;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
  }

.nav-bar ul{
margin: 10px;
  }
  
  .nav-bar li {
    width: 15%;
    float: right;
    text-align: center;
    height: 100%;
    line-height: 25px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.5s ease;
  }

 
  .nav-bar li:hover {
    color: rgb(28, 28, 29);
    background: #ffffff;
    transform: scale(1.2);
  }

    