.landing-page_content {
    text-align: center;
    position: relative;
    margin-top: 17%;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}