body{
    overflow: hidden;
    background:rgb(28, 28, 29);
}

.squares li{
    z-index: -1;
    width: 40px;
    height: 40px;
    background-color: rgba(34, 33, 36, 0.219);
    display: block;
    position: relative;
    bottom: -60px;
    animation: up infinite;
    animation-direction: alternate;
    border: 1px #ffffff solid;
    border-radius: 3px;
}

@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(100px);
        filter: blur(10px);
    }

    50%{
        opacity: 1;
        filter: blur(0px);
    }

    100%{
        opacity: 0;
        transform: translateY(-730px) rotate(960deg);
        filter: blur(10px);
    }
}