.invoice-card{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 550px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.2s;
}

.invoice-card:hover{
    transform: translateY(-1rem);
}

.invoice-card:hover~.invoice-card{
    transform: translateX(130px);
}

.invoice-card:not(:first-child){
    margin-left: -130px;
}

.card-header h2:hover{
    background: #fff;
    text-shadow: none;
    background-clip: text;
}